* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #d8c2f5;
  z-index: 1;
  position: relative;
  background-image: url(../image/hinh.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.login {
  border-radius: 20px;
  border: 0 solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 10px 0px;
  width: 25vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 20;
  position: relative;
  background-color: #fff;
}
.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.btn-login {
  border-radius: 20px !important;
  width: 100px;
  margin-top: 16px !important;
}
h1,
p {
  color: #1a1a47;
}
p {
  margin-right: 4px !important;
}
.other {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.forgot-pass {
  text-align: right;
  margin-left: 80px;
  font-size: 14px;
  margin-top: 8px;
}
.username {
  width: 20vw;
}
